<div class="section">
	<h3 class="title">Writing & Photography</h3>

	<div class="section-text">
		<p>I occasionally write about my ideas, experiences and personal philosophies on my <%= link_to "blog", "/posts", class: "red" %> and <%= link_to "Medium", "https://www.medium.com/@ryancrocombe", target: "_blank", class: "red" %>.</p>

		<p>I also became interested in photography in late 2017. I sometimes post the photos I take to <%= link_to "Instagram", "https://www.instagram.com/_photozero/", target: "_blank", class: "red" %>.</p>
	</div>
</div>

<hr>