<div class="section">
	<h3 class="title">Day-to-day interests</h3>

	<div class="section-text">
		<h5 class="blue">Calisthenics</h5>
		<p>Fed up with gym culture and wanting to take a more natural and humble route to physical well-being, I got into calisthenics late 2015.</p>

		<h5 class="blue">Spirituality</h5>
		<p>Over the past 2 years I’ve found myself naturally gravitating towards more spiritual concepts and practices such as meditation and mindfulness.</p>

		<h5 class="blue">Music, art and design</h5>
		<p>In 2016 I started re-awakening my creative side after neglecting it for 10+ years. It started with designing clothes-related stuff and messing around translating western songs into Chinese. I now find myself freestyle rapping & writing lyrics in my spare time.</p>

		<h5 class="blue">Travel</h5>
		<p>It's cliche but exploring the world is one of my favourite things to do. My favourite destinations include Berlin, Tokyo, Ubud and Taipei.</p>
	</div>
</div>

<hr>