<div class="section">
	<h3 class="title">Contact</h3>

	<div class="section-text">
		<p>I’m always keen to meet people with mutual interests and a similar approach to life.</p>
	    <p>If you are interested in sharing ideas or working together then I'd love to hear from you. You can reach me below or via various social media.</p>
    </div>

	<div class="contact-form">
	    <label><h5>Name</h5></label>
	    <br>
		<input type="text">

		<br>

		<label><h5>Email</h5></label>
		<br>
		<input type="text">

		<br>

		<label><h5>Message</h5></label>
		<br>
		<textarea name="" id="" cols="30" rows="10"></textarea>

		<br>

		<input type="submit" value="Send Message" class="button">
	</div>

</div>