<div class="section">
	<h3 class="title">Contact</h3>

	<div class="section-text">
		<p>I’m always keen to meet people with mutual interests and a similar approach to life.</p>
	    <p>If you are interested in sharing ideas or working together then I'd love to hear from you. You can reach me via 	<a tabindex="0" type="button" role="button" data-toggle="popover" data-placement="bottom" data-content="ryancrocombe@gmail.com">email</a> or various social media.</p>
	</div>

</div>