<div class="section">
	<h3>Long term</h3>

	<p>My ultimate goals lie in replacing existing education systems provided by government with a new type of outstanding education. I see a values-driven education system as the best way to solve many of the most pressing issues facing the developed and developing worlds, including income inequality, environmental sustainability and the pursuit of happiness.</p>
</div>

<hr>