<div class="section">
	<h3>Medium term</h3>

	<p>I’d like to build a portfolio of businesses akin to the <%= link_to "Need/Want", "http://www.needwant.com", target: "_blank" %> model. I'm primarily interested in ventures that relate to the following themes:</p>

	<h5>Destruction of monopolies & the power of corporatism</h5>
	<h5>Public health</h5>
	<h5>Re-skilling of the individual</h5>
	<h5>Location independent lifestyles</h5>
	<h5>Urban farming</h5>	
	<h5>Natural products</h5>
		<p>As a means to better personal health and reduced environmental damage</p>
	<h5>Creativity for creativity’s sake</h5>

</div>

<hr>