<div class="section">
	<h3 class="title">Writing & Photography</h3>

	<div class="section-text">
		<p>I write about my ideas, experiences and personal philosophies on my <%= link_to "blog", "/posts", class: "red" %> and <%= link_to "Medium", "https://www.medium.com/@ryancrocombe", target: "_blank", class: "red" %>.</p>

		<p>I also became interested in photography around the same time, and am documenting my journey at <%= link_to "Photography From Zero", "https://www.medium.com/photography-from-zero", target: "_blank", class: "red" %>.</p>
	</div>
</div>

<hr>