<div class="section">
	<h3 class="title">Themes</h3>

	<div class="section-text">
		<p>I’d like to build a portfolio of enterprises and projects akin to the <%= link_to "Need/Want", "http://www.needwant.com", target: "_blank", class: "a2" %> model. I'm primarily interested in ventures that relate to the following themes:</p>

		<h5>Destruction of monopolies & the power of corporatism</h5>
		<h5>Re-skilling of the individual</h5>
		<h5>Location independent lifestyles</h5>
		<h5>Public health</h5>		
		<h5>Food & waste systems</h5>
		<h5>Natural products</h5>
		<h5>Creativity for creativity’s sake</h5>
	</div>
</div>

<hr>