<footer>
	<p>&copy; 2016 Ryan Crocombe</p>

	<nav>
		<a href="https://cn.linkedin.com/in/ryancrocombe" target="_blank"><i class="fa fa-linkedin"></i></a>
		<a href="https://www.instagram.com/__ryanryan/" target="_blank"><i class="fa fa-instagram"></i></a>
	</nav>

</footer>