<footer>
	<p class="purple">&copy; 2016 Ryan Crocombe</p>

	<nav>
		<a href="https://cn.linkedin.com/in/ryancrocombe" target="_blank"><i class="fa fa-linkedin a2"></i></a>
		<a href="https://www.instagram.com/__ryanryan/" target="_blank"><i class="fa fa-instagram a2"></i></a>
	</nav>

</footer>