<footer>
	<p class="purple">&copy; 2018 Ryan Crocombe</p>

	<nav>
		<a href="https://www.medium.com/@ryancrocombe" target="_blank"><i class="fa fa-medium a2"></i></a>
		<a href="https://cn.linkedin.com/in/ryancrocombe" target="_blank"><i class="fa fa-linkedin a2"></i></a>
	</nav>

</footer>