<div class="blockchain-container">

	<h1>Blockchain Home</h1>

	<h2>Concept</h2>

	<p>Hello</p>
		
	<h5>Key Resources</h5>
	<ul>
		<li><%= link_to "Beyond the Bitcoin bubble, New York Times, 1/16/2018", "https://www.nytimes.com/2018/01/16/magazine/beyond-the-bitcoin-bubble.html", target: "_blank", class: "a2" %></li>
	</ul>


	<h2>Technology</h2>



	<h2>Valuation</h2>



	<h2>Tokens</h2>


	<h2>Glossary</h2>


	<h5>Key Resources</h5>
	<ul>
		<li><%= link_to "The Reason Bitcoin & Ethereum are surging, Naval Ravikant, 2/6/2017", "https://blog.producthunt.com/the-reason-bitcoin-ethereum-are-surging-33665c52d7a9", target: "_blank", class: "a2" %></li>
		<li><%= link_to "Thoughts on tokens, Balaji S Ravikant, 1/16/2018", "https://blog.producthunt.com/the-reason-bitcoin-ethereum-are-surging-33665c52d7a9", target: "_blank", class: "a2" %></li>
	</ul>



	<h2>Utilities</h2>
	
		<%= link_to "Slock.it - decentralised Airbnb and other practical applications/hardware driven by smart contracts", "https://slock.it/", target: "_blank", class: "a2" %>


</div>