<div class="logged-in-container">
	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>

	<div class="xmas-container">
		<div class="logged-in">
			<div class="section">
				<% if user_signed_in? %>
					<h1 class="section-title">You made it!</h1>

					<div class="section-text">
						<iframe width="660" height="371.25" src="http://www.youtube.com/embed/H_zCSx9iqf4?rel=0&amp;showinfo=0" frameborder="0"></iframe>
					</div>

					<%= link_to "Next", "chakras", class: "xmas-button" %>
				
				<% else %>
					<h1 class="section-title">Access denied</h1>

					<div class="section-text">
						<p>You need to be logged in to view this page</p>
					</div>		
				<% end %>
			</div>
		</div>
	</div>

	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>
</div>