<div class="logged-in-container">
	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>

	<div class="xmas-container">
		<div class="logged-in">
			<div class="section">
				<% if user_signed_in? %>
					<h1 class="section-title">Chakras</h1>

					<div class="section-text">
						<div class="xmas-info-text">
							<p>Chakras are energy centres in the body through which universal energy flows in and out of a person. There are 7 main chakras, with each chakra located at a different point in the body such that it correlates to specific facets of your being.</p>
							<p>Physical, mental and emotional issues are all associated with chakra imbalance. Physical issues lead to weakness in emotional behaviour, while holding on to certain fears and emotions can cause physical restrictions, too.</p>
							<p>Releasing stale energy from the body through the appropriate chakra can undo both physical and emotional tightness or malfunction.</p>
							<p>When our chakras are perfectly aligned with the universal flow of energy, every aspect of our life becomes harmonious and joyful. We reclaim perfect health, and our love and passion for life becomes renewed. <em>(Sounds good to me :p)</em></p>

							<%= image_tag "Asset 5.png", class: "chakra-image" %>

							<h2 style="color:#e12421;">Root</h2>
							<h5>The Root chakra is your right to exist!</h5>
							<p>This energy is found in the base of your spine. This chakra deals with your survival - your right to be here. So it involves materials related to the physical world like food, water, sex, shelter, and your ability to stand up for yourself. When this doesn't happen it looks like fatigue, depression, back pain, catching colds, or having cold extremities often.</p>

							<h2 style="color:#eb6d22;">Sacral</h2>
							<h5>The Sacral chakra deals with your right to feel!</h5>
							<p>Situated below the navel, the lower abdomen. This energy is connected to your tangible senses and how you feel. This energy relates to your ability to be social and intimate. Imbalance appears as drug abuse, eating disorders, candida, and yeast infections; asthma and allergies; low back pain, urinary issues, impotency and frigidity in your love life as well as general sensuality issues.</p>

							<h2 style="color:#f5b92b;">Solar Plexus</h2>
							<h5>The Solar Plexus chakra is the right to think!</h5>
							<p>This is located right above the naval, the stomach area. From this chakra point you gain self-confidence and ego power, along with balanced intellect. This also boosts your ability for humour. When there's an imbalance here it shows up in the physical form as digestion issues, hypoglycaemia, constipation, ulcers, diabetes, toxicity in the body, parasites and colitis. In the emotional form it appears as nervousness and poor memory.</p>

							<h2 style="color:#42a93c;">Heart</h2>
							<h5>The Heart chakra is the right to love!</h5>
							<p>When in balance this manifests as being more loving, more forgiving, and more compassionate. This also aids in having self-control and acceptance of yourself. Imbalance is linked to being overly passive, breathing and heart problems, chest pain and muscular tension.</p>

							<h2 style="color:#3abce7;">Throat</h2>
							<h5>The Throat chakra is your right to speak!</h5>
							<p>Signs of balance are expressing yourself and your beliefs, truthfully. The ability to trust and have loyalty. Imbalance in this energy appears as fevers, flus, and hyperactivity; problems with your mouth, tongue and jaw; along with hormonal problems such as mood swings, PMS, menopause and bloating.</p>

							<h2 style="color:#243985;">Third Eye</h2>
							<h5>The Third Eye chakra is your right to see!</h5>
							<p>Located between the eyes. This energy develops your psychic abilities, giving way to insights and intuition, and aids in releasing negative thoughts. Balance in this energy gives you focus, empathy for others, and builds trust in yourself. If you're dealing with imbalances such as learning difficulties, co-ordination problems or sleep disorders, this is the chakra for you.</p>

							<h2 style="color:#9b559a;">Crown</h2>
							<h5>The Crown chakra is your right to know!</h5>
							<p>Located just above the middle of the head. This energy allows your conscious and sub-conscious to meld and blossom into your superconscious. Alignment with this energy is unique and appears as perspective, wisdom, creativity and trust of the universe. Misalignment appears in the form of headaches, skin rashes, photosensitivity, boredom, mental illness and loss of self.</p>

						</div>

					</div>

					<%= link_to "Next", "stones", class: "xmas-button" %>
				
				<% else %>
					<h1 class="section-title">Access denied</h1>

					<div class="section-text">
						<p>You need to be logged in to view this page</p>
					</div>		
				<% end %>
			</div>
		</div>
	</div>

	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>
</div>