<%= render 'pages_header' %>

<div class="chinese-container">

	<div class="chinese-section">
	
	<h1>請耐心等待！</h1>
	<h1>Coming soon!</h1>
	<br>
	<p>My ideas, insights and strategies for learning Chinese from scratch.
	</p>

	</div>


</div>

<div class="chinese-footer">
	<%= render 'pages_footer' %>
</div>