<%= render 'pages_header' %>

<div class="chinese-container">

	<div class="chinese-section">
		
	<p>Coming soon!</p>

	</div>


</div>

<div class="chinese-footer">
	<%= render 'pages_footer' %>
</div>