<div class="logged-in-container">
	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>

	<div class="xmas-container">
		<div class="logged-in">
			<div class="section">
				<% if user_signed_in? %>
					<h1 class="section-title">Crystals & eggs</h1>

					<div class="section-text">
						<p>Summary of crystals vs eggs</p>
					</div>

					<%= link_to "Next", "chakras", class: "xmas-button" %>
				
				<% else %>
					<h1 class="section-title">Access denied</h1>

					<div class="section-text">
						<p>You need to be logged in to view this page</p>
					</div>		
				<% end %>
			</div>
		</div>
	</div>

	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>
</div>