<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Solving the password</h1>

		<div class="section-text">
			<p>You should have all of the correct answers now. Follow the following steps to solve the password:</p>
			<br>
			<h3 style="text-decoration:underline;">Step 1</h3>
			<br>
			<p>For each question pair, identify the <em>n</em>th letter of the answer for A, where <em>n</em> is the answer from B.</p>
			<br>
			<h3 style="text-decoration:underline;">Step 2</h3>
			<br>
			<p>Take all of the letters you've identified from Step 1 and you have an anagram of a word. This word is the password. Now all you have to do is unscramble the anagram! You can then log in below.</p>
			<p>Once you're logged in, navigate your way to <em><strong>ryancrocombe.com/xxx</strong></em>, where xxx is the same word as the password.</p>
			<br>
			<p><strong>Hint:</strong> I don't think you'll be able to figure the password out just by looking at the letters. I'll start you off with a clue: <em>it relates to us</em>. I would start by doing some digging and exploring back through our story. Be resourceful and think logically and laterally. If you look in the right place you could find the answer almost immediately.</p>
			<br>
			<p>If you're really struggling then you haven't looked hard enough. But if you insist on sucking out, then I have 3 clues in total that you can ask me for.</p>
		</div>

		<%= link_to "Log in", "users/sign_in", class: "xmas-button-2" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>