<div class="logged-in-container">
	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>

	<div class="xmas-container">
		<div class="logged-in">
			<div class="section">
				<% if user_signed_in? %>
					<h1 class="section-title">Merry Christmas!</h1>

					<div class="section-text">
						<p>You already know <%= link_to "Chakrubs", "http://www.chakrubs.com" %>. Here are a few other sites you might want to check out for options:</p>
						<p><%= link_to "Russian girl", "http://www.chakrubs.com" %></p>
						<p><%= link_to "xyz", "http://www.chakrubs.com" %></p>
						<br><br>
						<p>* * *</p>
						<br><br>
						<p>Once you've decided which one you like most, here are my credit card details for you to buy it with. Don't worry about cost, just get whatever one is calling you. And then have the best time with it.</p>
						<br>
						<p>Card number: #####</p>
						<p>Password: 9**9</p>
						<p>Address: 32...</p>
					</div>

					<br>
					<br>
				
				<% else %>
					<h1 class="section-title">Access denied</h1>

					<div class="section-text">
						<p>You need to be logged in to view this page</p>
					</div>		
				<% end %>
			</div>
		</div>
	</div>

	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>
</div>