<div class="logged-in-container">
	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>

	<div class="xmas-container">
		<div class="logged-in">
			<div class="section">
				<% if user_signed_in? %>
					<h1 class="section-title">Which stone?</h1>

					<div class="section-text">
						<div class="xmas-info-text">
							<p>The best stone to choose is the one you are energetically drawn to. "Things we are drawn to are important in our self-love journey" (gemstoneyonieggs.com)</p>

							<h2 style="color:#e12421;">Root</h2>
							<br>

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingOne">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							          Smokey Quartz
							        </a>
							      </h4>
							    </div>
							    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							      <div class="panel-body">
									<p><em>Properties: grounding, transmutation of negative energies, practicality, organisation, manifestation.</em></p>
									<p>Smokey Quartz yoni eggs are one of the premier grounding crystals. It can help even the spaciest individuals get their "land legs" so they can fully function as physical beings.</p>
									<p>Smokey Quartz also aids the grounding of spiritual information. He enhances practicality and organisation. He offers protection from negative energies in one's environment and can absorb and transmute almost unlimited amounts of negativity!</p>
									<p>Smokey Quartz yoni eggs has a way of drawing the ethereal into manifestation. When one is wearing or even carrying Smokey Quartz, one is actually more likely to see such phenomena as ghosts, UFOs, fairies, and spirit guides. Rather than raising one's vibration, it draws the entities or phenomena into one's auric field and down to one's level of perception. For similar reasons, Smokey Quartz is useful for helping one bring one's most potent dreams and inspired ideas into physical reality.</p>
							      </div>
							    </div>
							  </div>
							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingTwo">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							          Red Jasper
							        </a>
							      </h4>
							    </div>
							    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							      <div class="panel-body">
							        <p><em>Properties: physical strength, vitality, stabilisation of one's energies, endurance, libido booster, vibrancy, orgasmic energy.</em></p>
							        <p>Red Jasper yoni eggs can help one's endurance and stamina and can work over time to increase the amount of chi, or life-force in one's energetic field.</p>
							        <p>It strengthens the root chakra  and deepens one's connection to the earth. It enhances orgasmic energy and boosts libido as well as physical strength and vitality. Red Jasper is a wonder stone to use during foreplay and love making.</p>
							        <p>Her vibrational pattern is so stable that it tends to stabilise one's own energies if one wears, carries or simply keeps her in their living space. Such stabilisation leads to good health, balanced emotions, truthful expression, and just actions.</p>
							        <p>Red Jasper yoni eggs have a kind of down-to-earth nobility that simply rubs off on the owner. Her work is gradual, but offers the advantage that the gains one makes are more permanent than those achieved with different stones or methods.</p>
							      </div>
							    </div>
							  </div>

							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingThree">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							          Petrified Wood
							        </a>
							      </h4>
							    </div>
							    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							      <div class="panel-body">
							        <p><em>Properties: Steady growth, a strong body, past life recall, inner peace. Supports gradual increase of growth, strength, and vitality. Encourages inner peace and patience. Helps heal ancestral issues.</em></p>
							        <p>Petrified wood is a stone of patience and slow, steady growth towards spiritual transformation. It is a good stone for gradually strengthening the body. It is recommended to be carried or worn by those who need greater stability in the spine or skeletal structure. It also instills strength of character and helps one live by one's ideals.</p>
							        <p>Petrified wood assists in past life recall. It is especially useful for grounding insights one gains from experiencing these memories. It helps one turn past weaknesses into new strengths, just as the perishable wood has evolved its form into that of immortal stone. Petrified wood carries an imprint of the recent history (100 to 200 million years) of the earth, and it can be utilized to view the Akashic records of this planet.</p>
							      </div>
							    </div>
							  </div>

							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingFour">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							          Black Obsidian
							        </a>
							      </h4>
							    </div>
							    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							      <div class="panel-body">
							        <p><em>Properties: psychic protection, grounding, cleansing, clearing, spirit communication, healing, renewal.</em></p>
							        <p>Black obsidian yoni eggs eliminate negative energies and blockages in oneself and one's environment. It's like a psychic vacuum cleaner, cleansing the auric field of disharmony, negative attachments, astral "junk," as well as one's own anger, greed, fear, resentment etc.</p>
							        <p>Obsidian yoni eggs are a great aid to healing the body and soul as well as a woman's womb by releasing past problems from sexual abuse, pregnancy loss, abortion and bad decisions.. Think of it as a sponge soaking up all your traumas, regrets, bad decisions, etc.</p>
							        <p>Obsidian yoni eggs are great for working with the spirit world and are highly protective with strong metaphysical properties keeping you grounded and safe.</p>
							      </div>
							    </div>
							  </div>

							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingFive">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							          Bloodstone
							        </a>
							      </h4>
							    </div>
							    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
							      <div class="panel-body">
							        <p><em>Properties: strength, courage, purification, vitality, detoxification, zest for life, dispelling negative energies, entering Christ consciousness.</em></p>
							        <p>Bloodstone yoni eggs are a great purifier, a healing tool for dispelling negative influences from the auric field and bringing one’s subtle energies into wholeness and balance. It grounds one fully in the body, for the enhancement of one’s strength, determination and courage. Bloodstone yoni eggs increase vitality and can aid one in facing physical morality.</p>
							        <p>Bloodstone yoni eggs are a good talisman for those who are ill, even if curing the illness is not possible, because of its power to let one look unflinchingly at the truth.</p>
							        <p>Bloodstone is a stone of noble sacrifice, and it can offer courage and solace. It can elicit the highest, most altruistic character traits in whoever carries or wears it. At it's most effective, it stimulates the urge towards Christ's consciousness.</p>
							        <p>In the middle ages, the red spots in bloodstone were thought to be Christ’s blood because when he was crucified, his blood fell upon the beautiful green stone, staining it with red spots from Christ’s blood. Magical powers were attributed to bloodstone and still to this day it's a powerful healer.</p>
							      </div>
							    </div>
							  </div>

							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingSix">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							          Fire Quartz
							        </a>
							      </h4>
							    </div>
							    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
							      <div class="panel-body">
							        <p><em>Properties: Grounding, manifestation, making the spiritual physical, protect the body from toxic energies, amplification of ones intentions, magnification of ambient energies, clearing, cleansing, clarity, communication, memory.</em></p>
							        <p>Fire Quartz is among the most effective stones for grounding oneself in the body and the physical world. It can counteract spaciness and confusion, helping one to see practical concerns and move forward with useful action. Fire Quartz can be used to balance auric field and align the chakras. It pulls stray energies down through the meridian system to the root chakra.</p>
							        <p>Manifestation is one of the most common problems for spiritually-oriented people. Many do not realise that it is not enough to travel to the higher realms and experience expanded awareness. One goal, perhaps the primary one of human evolution, is to bring the energies of the etheric realms into manifestation here in the physical plane. Fire Quartz is an ideal tool in this work. Carrying or wearing Fire Quartz, in addition to using it for massage can assist one in bringing ones dreams and aspirations into reality and in learning the difference between a true vision and fantasy.</p>
							      </div>
							    </div>
							  </div>
							</div>

							<h2 style="color:#eb6d22;">Sacral</h2>
							<br>

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingSeven">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							          Golden Tiger Eye
							        </a>
							      </h4>
							    </div>
							    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
							      <div class="panel-body">
									<p><em>Properties: Protection, good luck prosperity, talisman against bad luck, misfortune and curses. Helpful to manifest ideas into reality and giving courage in times of doubt or change. Earthly people will find success increasing their psychic abilities using Tiger's eye. Wonderful stone to meditate with and open their eye.</em></p>
									<p>Golden Tiger Eye is a powerful Solar Plexus Chakra stone, helpful to manifest ideas into reality and giving courage in times of doubt or change. Use Golden Tiger Eye with the Solar Plexus Chakra to increase your personal connection to the earth or even your own power. Tiger Eye is said to bring awareness to ones psychic abilities and balances the lower Chakras.</p>
									<p>Earthy people will find success increasing their psychic abilities using Tiger Eye when working with the Third Eye Chakra or by merely meditating with a piece of Tiger's Eye.</p>
									<p>Use Golden Tiger Eye with the Sacral Chakra to facilitate spiritual grounding.</p>
									<p>You can pocket a small piece of Golden Tiger Eye when you need a boost of creative energy, or when dealing with issues involving power, will, control, and/or concentration. Golden Tiger Eye can provide balance to those experiencing extremes, and as such, can be helpful to those with manic depression, anger issues, or even bipolar disorder.</p>
							      </div>
							    </div>
							  </div>
							</div>


							<h2 style="color:#f5b92b;">Solar Plexus</h2>
							<br>

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">							
							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingEight">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
							          Mookaite
							        </a>
							      </h4>
							    </div>
							    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
							      <div class="panel-body">
							        <p><em>Properties: Humour, happiness, innocence, spiritual knowledge, attunement, dreams, visions, soothing, protective, stress relief.</em></p>
							        <p>See above...</p>
							      </div>
							    </div>
							  </div>

							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingNine">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
							          Golden Tiger Eye
							        </a>
							      </h4>
							    </div>
							    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
							      <div class="panel-body">
							        <p><em>Properties: Humour, happiness, innocence, spiritual knowledge, attunement, dreams, visions, soothing, protective, stress relief.</em></p>
							        <p>See above...</p>
							      </div>
							    </div>
							  </div>
						 	</div>

							
							<h2 style="color:#42a93c;">Heart</h2>
							<br>

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">							
							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingTen">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
							          Mookaite
							        </a>
							      </h4>
							    </div>
							    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
							      <div class="panel-body">
							        <p><em>Properties: Humour, happiness, innocence, spiritual knowledge, attunement, dreams, visions, soothing, protective, stress relief.</em></p>
							        <p>See above...</p>
							      </div>
							    </div>
							  </div>

							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingEleven">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
							          Golden Tiger Eye
							        </a>
							      </h4>
							    </div>
							    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
							      <div class="panel-body">
							        <p><em>Properties: Humour, happiness, innocence, spiritual knowledge, attunement, dreams, visions, soothing, protective, stress relief.</em></p>
							        <p>See above...</p>
							      </div>
							    </div>
							  </div>
						 	</div>
							

							<h2 style="color:#3abce7;">Throat</h2>
							<br>


							<h2 style="color:#243985;">Third Eye</h2>
							<br>							


							<h2 style="color:#9b559a;">Crown</h2>
							<br>

							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingSeven">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							          Amethyst
							        </a>
							      </h4>
							    </div>
							    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
							      <div class="panel-body">
									<p><em>Properties: protection, purification, divine connection, release of addictions, energy, balance, calm, emotions, anxiety.</em></p>
									<p>Amethyst is a stone of spiritual protection and purification. It can be used as an aid to overcome addictions and bad habits. It can be used to assist one in quitting smoking, drinking, eating disorders, and drug use.</p>
									<p>It stimulates the crown chakra and is an aid to meditation, helping one to still one's thoughts and move into higher states of consciousness. It can clear one's energy field of negative influences and attachments, and can thereby facilitate the creation of an energetic "shield" - a field of spiritual light around the body that wards off negativity in one's environment.</p>
									<p>Amethyst yoni eggs can bring the feeling that one is surrounded and protected by a "bubble of light". If one is ill, simply placing an amethyst specimen (yoni egg or stone) in ones room can keep ones healing space clear. Wearing an amethyst yoni egg maintains the inner space of one's body and energy filed in a state of balance, calm, and well-being.</p>
							      </div>
							    </div>
							  </div>
							  <div class="panel panel-default">
							    <div class="panel-heading" role="tab" id="headingEight">
							      <h4 class="panel-title">
							        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
							          Lavender Jade
							        </a>
							      </h4>
							    </div>
							    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
							      <div class="panel-body">
							        <p><em>Properties: Humour, happiness, innocence, spiritual knowledge, attunement, dreams, visions, soothing, protective, stress relief.</em></p>
							        <p>Jade is one of the toughest stones on the planet due to it's finely interlocked and strongly bonded crystal structures. Lavender Jade yoni eggs fills one with mirth and happiness. She enhances dreams and visions and helps regulate the auric field. She is soothing to the nervous system and helps alleviate symptoms brought on by stress.</p>
							        <p>Lavender Jade yoni eggs are excellent for purifying one's aura and dispelling any negative attitudes that hold one back from experiencing the joys of life. There is a lot of humour evoked by this gemstone and is an asset when worn by those who need to "lighten up" and relax into the flow of life. Lavender Jade yoni eggs are very friendly with human energies and offers experience of the truth of one's essential joy.</p>
							      </div>
							    </div>
							  </div>
							</div>

							</div>

						</div>
					</div>

					<%= link_to "Next", "present", class: "xmas-button" %>
				
				<% else %>
					<h1 class="section-title">Access denied</h1>

					<div class="section-text">
						<p>You need to be logged in to view this page</p>
					</div>		
				<% end %>
			</div>
		</div>
	</div>

	<div class="xmas-banner-container">
		<div class="xmas-banner">
		</div>
	</div>
</div>