<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 3</h1>

		<div class="section-text">
			<p>A) What is the name of the fortress/castle that overlooks the city in Switzerland that my grandparents consider to be their hometown?</p>
			<br>
			<p>B) My dad was born in ______. The state in which this city is located is often referred to in acronym form. How many letters in this acronym?</p>
		</div>

		<%= link_to "Question 4", "xmas_q4", class: "xmas-button" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>