<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 7</h1>

		<div class="section-text">
			<p>A) What island group in the Pacific did the man that Max was named after live in?</p>
			<br>
			<p>B) My dad’s dad spent time as a professor at a university in the US that is usually referred to by its acronym. Take the number of letters in this acronym and double it.</p>
		</div>

		<%= link_to "Question 8", "xmas_q8", class: "xmas-button-2" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>