<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 1</h1>

		<div class="section-text">
			<p>A) What is the literal translation into English of my mum’s maiden name?</p>
			<br>
			<p>B) How many lots of red would you find in my favourite Ghanian dish? Add this number to the number of letters in the name of the dish.</p>
		</div>

		<%= link_to "Question 2", "xmas_q2", class: "xmas-button-2" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>