<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Merry Christmas!</h1>

		<div class="section-text">
			<p>Hello Rachel,</p><br>
			<p>Unwrapping a digital present is a little bit different. It involves a bit more of a challenge.</p>
			<p>To get to the next stage you'll need to log in. I've already given you the user name. To get the password, all you have to do answer a few questions. And then use your brain a little :p</p>
			<br>
			<p>Good luck!</p><br>
			<p>Hint: Write your answers down on paper as you go</p>
		</div>

		<%= link_to "Start!", "chinese", class: "xmas-button" %>
		
	</div>

</div>