<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 6</h1>

		<div class="section-text">
			<p>A) What is the name of the festival in Spain that Rob, Fred, Joe and I went to in 2011 and 2012?</p>
			<br>
			<p>B) My dad flies a Boeing ###-#. Take the first digit of this number and deduct from it the number of sisters he has.</p>
		</div>

		<%= link_to "Question 7", "xmas_q7", class: "xmas-button" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>