<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Solving the password</h1>

		<div class="section-text">
			<p>You should have all of the correct answers written down now.</p>
			<br>
			<p>Unfortunately, you're still a few more steps away from getting the password.</p>
			<br>
			<h4>Step 1</h4>
			<p>For each question pair, identify the <em>n</em>th letter of the answer for A, where <em>n</em> is the answer from B.</p>
			<br>
			<h4>Step 2</h4>
			<p>Take all of the letters you've identified from Step 1 and you have an anagram of a word. This word is the password. Now all you have to do is unscramble the anagram! Then you can log in below and you'll find a link waiting for you in the navbar.</p>
			<br>
			<p>Hint: I don't think you'll be able to figure this word out just by looking at it. I'll start you off with a clue: it relates to us. I would start by doing some digging and exploring back through our story. Be resourceful and think laterally but logically. If you look in the right place you could find the answer almost immediately.</p>
			<br>
			<p>If you're really struggling then you haven't looked hard enough. But if you insist on sucking out, then I have 3 clues in total that you can ask me for.</p>
		</div>

		<%= link_to "Log In", "users/sign_in", class: "xmas-button-2" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>