<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 5</h1>

		<div class="section-text">
			<p>A) What’s the name of my mum’s favourite flower from Rarotonga?</p>
			<br>
			<p>B) How many letters in the name of the island on which I was conceived? Add this number to the digit you’d find in the UK international dialling code.</p>
		</div>

		<%= link_to "Question 6", "xmas_q6", class: "xmas-button-2" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>