<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 2</h1>

		<div class="section-text">
			<p>A) On my dad’s side, our heritage can be traced to a Scottish clan. What is the name of the island that this clan is most closely associated with? (full name - 3 words)</p>
			<br>
			<p>B) X = the number of letters if we add our surnames together. Y = the number of letters if we add our first English names together. Z = the number of letters in my middle name. X + Y + Z = ?</p>
		</div>

		<%= link_to "Question 3", "xmas_q3", class: "xmas-button" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>