<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 9</h1>

		<div class="section-text">
			<p>A) </p>
			<br>
			<p>B) </p>
		</div>

		<%= link_to "Question 10", "xmas_q10", class: "xmas-button-2" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>