<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 4</h1>

		<div class="section-text">
			<p>A) What is my dad’s mum’s first name?</p>
			<br>
			<p>B) How awesome do I think you are on a scale of 1-10? Divide that by the number of people in my family.</p>
		</div>

		<%= link_to "Question 5", "xmas_q5", class: "xmas-button-2" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>