<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>

<div class="xmas-container">


	<div class="section">
		<h1 class="section-title">Question pair 8</h1>

		<div class="section-text">
			<p>A) Which city in South America did my mum travel to as an 18 year old?</p>
			<br>
			<p>B) My dad and Max have the same middle name. Take the number of letters of their middle name, add 1 and divide by the number of middle names that Dom has.</p>
		</div>

		<%= link_to "Question 9", "xmas_q9", class: "xmas-button" %>
		
	</div>

</div>

<div class="xmas-banner-container">
	<div class="xmas-banner">
	</div>
</div>