<%= render 'posts_header' %>

<div class="posts-container">

	<h3 class="title">New post</h3>
	<hr>
	<div class="posts-content">
		<%= render 'posts_form' %>
	</div>
</div>

<%= render 'posts_footer' %>