// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-grey: #455A64;
$mid-grey: #607D8B;
$light-grey: #CFD8DC;
$lightest-grey: #EDEDED;

$red: #FD6A57;
$yellow: #FDA957;
$blue: #398A9D;
$green: #41BD62;

$text-1: #212121;
$text-2: #757575;

$dark: #54546c;
$light: #8283a7;
$faint: #D8E9EF;

$gutter: 30px;

// Navbar stuff

.navbar-default {
	background-color: transparent;
}

.navbar-default	.navbar-brand {
	color: white;
	&:hover, &:focus {
		color: white;
		background-color: $green;
		border-radius: 50%;
	}	
}

.navbar-brand {
	background-color: $light;
	border-radius: 50%;

}

.navbar {
	border: none;
	margin: 0px;

	.container-fluid {
		padding: $gutter/2 $gutter;
	}

	.navbar-nav > li > a {
		font-family: "Helvetica Neue";
		font-size: 12px;
		color: white;
		&:hover, &:focus {
			color: $light;
		}
	}
}

.navbar-collapse {
	border: none;
	box-shadow: none;
}

.navbar-toggle {
	background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none !important;
	}
}



// Home page

.page-content {
	padding: $gutter;
	text-align: center;
	background-color: $lightest-grey;
}

.section {
	margin: 0 auto;	
	max-width: 690px;
	text-align: center;	
}

.title {
	padding: 0 $gutter $gutter $gutter;	
}

.section-text {
	background-color: white;
	padding: $gutter;
	border-radius: 10px;
}

.hero-container {
	text-align: center;
	background-color: $red;
	padding-bottom: $gutter/2;
}

.hero-content {
}

.hero-pic {
	border-radius: 50%;
	max-height: 150px;
	max-width: 150px;
}

.location {
	text-align: center;
	padding: 0 $gutter/2;

	h6, p {
		display: inline-block;
	}

	h6 {
		color: $yellow;
		font-weight: 300;
	}

	p {
		font-size: 16px;
		color: white;
	}

	.fa {
		color: $yellow;
	}
}

.intro {

}

.cv {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.cv-pic {
	border-radius: 50%;
	max-height: 140px;
	max-width: 140px;
	margin-top: $gutter;
}

.thumbnail {
	padding: $gutter;
	border: none;
	margin-bottom: 0;
	margin-top: $gutter;

	@media (min-width: 768px) {
	padding: $gutter/2;	
	}

	h5 {
		margin-top: 0;
	}
}

.contact-form {
	max-width: 400px;
	margin: $gutter auto;
	text-align: left;
}

label h5 {
	color: $blue;
	font-size: 16px;
	margin: 0;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	max-width: 100%;
	height: 40px;
	border: 1px solid $light;
	padding: $gutter/2;
	margin: $gutter/3 0 $gutter/2 0;
	font-size: 14px;
	font-weight: 300;
	color: $text-1;
}

textarea {
	min-height: 200px;
}

input[type="submit"] {
	outline: none;
	background: $green;
	border: 1px solid $green;
	text-align: center;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	padding: 9px 12px;
	&:hover {
		border-color: $yellow;
		background: $yellow;
	}
}

footer {
	padding: $gutter;
	border-top: 1px solid white;
	background-color: $lightest-grey;

	p {
		font-size: 11px;
		display: inline;
		padding: 0;
		margin: 0;
	}

	nav {
		float: right;
		text-decoration: none;
		
		a {
			padding: 5px;
		}

	}
}