// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-grey: #455A64;
$mid-grey: #607D8B;
$light-grey: #CFD8DC;
$lightest-grey: #EDEDED;

$red: #FD6A57;
$yellow: #FDA957;
$blue: #398A9D;
$green: #41BD62;

$text-1: #212121;
$text-2: #757575;

$dark: #54546c;
$light: #8283a7;
$faint: #D8E9EF;
$light-blue: #aecbe6;

$gutter: 30px;
$max-width: 720px;



// Home page

.page-content {
	padding: $gutter;
	text-align: center;
	background-color: $lightest-grey;
}

.section {
	margin: 0 auto;	
	max-width: $max-width;
	text-align: center;	
	h3 {
		padding-top: 0;
	}
}

.title {
	padding: 0 $gutter $gutter $gutter;
	max-width: $max-width;	
}

.section-text {
	background-color: white;
	padding: $gutter;
	border-radius: 10px;
}

.hero-container {
	text-align: center;
	background-color: $red;
	padding-bottom: $gutter/2;
}

.hero-content {
}

.hero-pic {
	border-radius: 50%;
	max-height: 150px;
	max-width: 150px;
}

.location {
	text-align: center;
	padding: 0 $gutter/2;

	h6, p {
		display: inline-block;
	}

	h6 {
		color: $yellow;
		font-weight: 300;
	}

	p {
		font-size: 16px;
		color: white;
	}

	.fa {
		color: $yellow;
	}
}

.intro {

}

.cv {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.cv-pic {
	border-radius: 50%;
	max-height: 140px;
	max-width: 140px;
	margin-top: $gutter;
}

.thumbnail {
	padding: $gutter;
	border: none;
	margin-bottom: 0;
	margin-top: $gutter;

	@media (min-width: 768px) {
	padding: $gutter/2;	
	}

	h5 {
		margin-top: 0;
	}
}

.contact-form {
	max-width: 400px;
	margin: $gutter auto;
	text-align: left;
}

label h5 {
	color: $blue;
	font-size: 16px;
	margin: 0;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	max-width: 100%;
	height: 40px;
	border: 1px solid $light;
	padding: $gutter/2;
	margin: $gutter/3 0 $gutter/2 0;
	font-size: 14px;
	font-weight: 300;
	color: $text-1;
}

textarea {
	min-height: 200px;
}

input[type="submit"] {
	outline: none;
	background: $green;
	border: 1px solid $green;
	text-align: center;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	padding: 9px 12px;
	&:hover {
		border-color: $yellow;
		background: $yellow;
	}
}

// Chinese page

.chinese-container {
	background-color: $red;
}

.chinese-section {
	margin: 0 auto;
	max-width: $max-width;
	padding: $gutter*4 $gutter $gutter*8 $gutter;
	text-align: center;

	h1, h2, h3, h4, h5, h6, p {
		color: white;		
	}

	.chinese {
		letter-spacing: 8px;
	}

}

.chinese-header {
	
}

.chinese-footer {

	footer {
		background-color: $red;
		border-top: 1px solid $red;
	}

	p {
		color: white;
	}

	i {
		color: white;
		transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		-moz-transition: color 0.2s linear;
		-webkit-transition: color 0.2s linear;		
		&:hover, &:focus {
			color: $yellow;
		}

	}
}

// Xmas page

.xmas-container {
	padding: 0 $gutter;
	text-align: center;
	background-color: $green;
	margin-bottom: 0;
	min-height: 400px;
	.section-title {
		margin: 0;
		padding-top: $gutter;
		padding-bottom: 10px;
		font-family: 'Dancing Script', cursive;
		font-size: 48px;
	}

	.section-text {
		margin-top: $gutter*1.5;
		background-color: rgba(0,0,0,0.1);

		p {
			font-family: 'Lora', serif;
			font-size: 16px;
			color: white;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Dancing Script', cursive;
			color: white;
		}

		h2 {
			padding-top: $gutter;
		}

		hr {
			border-color: $red;			
		}

		.xmas-info-text p {
			font-size: 16px;
			padding-top: 10px;
		}

		.xmas-info-text {

			h4 {
				font-size: 18px;
			}

			h5 {
				font-style: italic;
			}

			.panel {
				background: transparent;
				box-shadow: none;
			}

			.panel-default {
				border: none;
			}

			.panel-default > .panel-heading {
				background: transparent;
				padding: $gutter/2;
				border: none;
			}

			.panel-group .panel-heading + .panel-collapse > .panel-body,
			.panel-group .panel-heading + .panel-collapse > .list-group {
			  border: none;
			}			

		}
	}

}

.xmas-banner-container {
	background-color: $green;
	padding: $gutter 0;
}

.xmas-banner {
	background: url("xmas.png");
	background-size: auto 100px;
	background-repeat: repeat-x;
	height: 100px;	
}

.xmas-button {
	margin: $gutter;
	padding: $gutter/2 $gutter;
	background: $red;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;	
	color: white;
	border-radius: 4px; 
	display: inline-block;
	&:hover {
		background: $yellow;
	}
}

.xmas-button-2 {
	margin: $gutter;
	padding: $gutter/2 $gutter;
	background: $red;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	color: white;
	border-radius: 4px; 
	display: inline-block;
	&:hover {
		background: $light;
	}
}

.logged-in-container {
	.xmas-container, .xmas-banner-container {
		background-color: $light;
	}
}

.chakra-image {
	max-width: 350px;
	margin: $gutter $gutter $gutter/2 $gutter;
}
