// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-grey: #455A64;
$mid-grey: #607D8B;
$light-grey: #CFD8DC;
$lightest-grey: #EDEDED;

$red: #FD6A57;
$yellow: #FDA957;
$blue: #398A9D;
$green: #41BD62;

$text-1: #212121;
$text-2: #757575;

$dark: #54546c;
$light: #8283a7;
$faint: #D8E9EF;

$gutter: 30px;
$max-width: 720px;

.posts-container {
	text-align: center;
	margin: 0 auto;	
	background-color: $lightest-grey;
	padding: $gutter;
}

.title {
	max-width: $max-width;
	padding: $gutter;
	margin: 0 auto;

	h3 {
		color: $green;
	}
}

.date {
	font-weight: 300;
	font-size: 11px;
	color: $light;
	padding-top: $gutter;
}

.post {
	background-color: white;
	margin: 0 auto;
	max-width: $max-width;
	padding: $gutter;
	border-radius: 10px;	

	h2 {
		margin-top: 0;
		margin-bottom: $gutter/2;
	}

	a {
		font-weight: 400;
		color: $light;
		transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		-moz-transition: color 0.2s linear;
		-webkit-transition: color 0.2s linear;	
		&:hover, &:focus {
			color: $yellow;
		}
	}

}

.posts-content {
	margin: $gutter auto 0 auto;
	max-width: $max-width;
	padding: $gutter;
	text-align: left;
	background-color: white;
	border-radius: 10px;

	h1 {
		color: $green;
		font-size: 30px;
	}

	h2 {
		padding-top: $gutter;
		color: $yellow;
		font-size: 24px;
		padding-bottom: $gutter;
		margin: 0;
	}

	h3 {
		color: $light;
		font-size: 18px;
		padding-bottom: $gutter/2;
	}

	h4 {
		color: $light;
		font-size: 14px;
		font-weight: 300;
		font-style: italic;
		line-height: 1.5;
		margin-top: $gutter;
	}

	h5 {
		color: $yellow;
		margin-bottom: $gutter/2;
	}

	h6 {
		color: $light-grey;
		font-size: 11px;
		margin-top: -30px;
		text-align: center;
		padding-bottom: $gutter;
	}

	p {
		color: $dark-grey;
		margin-bottom: $gutter/2;
	}

	strong {
		font-weight: 400;
	}

	blockquote {
		font-style: italic;
		color: $dark-grey;
		font-weight: 400;
	}

	ul {
		padding-left: inherit;

		li {
			padding-left: $gutter/2;
		}
	}

	img {
		max-width: 100%;
		padding: $gutter $gutter/2;
	}
}

.posts-form {
	text-align: left;

	h5 {
		color: $light;
		font-size: 16px;
		margin: 0;
	}
}

.share-box {
	margin: 0 auto;
	max-width: $max-width;

	h6 {
		color: $light;
	}

	i {
		color: $green;
		padding: 8px 10px;
		transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		-moz-transition: color 0.2s linear;
		-webkit-transition: color 0.2s linear;			
		&:hover {
			color: $yellow;
			cursor: pointer;
		}
	}
}

//----- Pagination

.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear:box;
}

.pagination {
	text-align: center;

	a, .previous_page, .current, .next-page {
		color: $light;
		font-weight: 300;
		font-size: 12px;
		padding: 5px 10px;
		margin: 3px;
		border-radius: 0.15em;
		text-decoration: none;
		background: transparent;
		font-style: normal;
		transition: color 0.5s linear;
		-o-transition: color 0.5s linear;
		-moz-transition: color 0.5s linear;
		-webkit-transition: color 0.5s linear;
		transition: background 0.5s linear;
		-o-transition: background 0.5s linear;
		-moz-transition: background 0.5s linear;
		-webkit-transition: background 0.5s linear;							
		&:hover {
			color: white;
			background: $light;
		}
	}

	.current {
		color: white;
		background: $light;
	}

	.disabled {
		color: $light-grey;
		font-weight: 300;
		font-size: 12px;
		padding: 5px 10px;
		margin: 3px;				
		&:hover {
			color: $light-grey;
			background: $lightest-grey;
		} 
	}
}

//------- Disqus

.disqus-container {
	margin: 0 auto;
	max-width: $max-width;
	padding: $gutter;
}