@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Bad+Script|Lora:400,400i,700,700i|Dancing+Script:400,700);


$font-family-sans-serif: 'Raleway', Helvetica, sans-serif;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';


$dark-grey: #455A64;
$mid-grey: #607D8B;
$light-grey: #CFD8DC;
$lightest-grey: #EDEDED;

$red: #FD6A57;
$yellow: #FDA957;
$blue: #1B63A5;
$green: #41BD62;

$text-1: #404146;
$text-2: #757575;

$dark: #54546c;
$mid: #7174a5;
$light: #8283a7;
$faint: #D8E9EF;
$light-blue: #aecbe6;

$gutter: 30px;
$max-width: 800px;

.clear {
	clear: both;
}

.notice, .alert {
	text-align: center;
	padding: $gutter/2;
	background-color: black;
	color: white;
	margin: 0;
}

h1, h2, h3, h5 {
	font-family: $font-family-sans-serif;
}

h1 {
	color: white;
	font-weight: 400;
	font-size: 40px;
	@media (max-width: 500px) {
		font-size: 36px;
	}		
}

h2 {
	color: $mid;
	font-weight: 400;
	line-height: 1.3;
}

h3 {
	color: $green;
	margin: 0;
	font-size: 24px;
}

h5 {
	color: $yellow;
	font-size: 20px;
	font-weight: 700;
	padding-top: $gutter/2;
}

h6 {

}

p, li {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: $dark;
	font-weight: 300;
	line-height: 1.75;
	font-size: 17px;
	margin-bottom: $gutter * 0.5;
}

a {
	color: $yellow;
	font-weight: 300;
	transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;	
	&:hover, &:focus {
		text-decoration: none;
		color: $green;
	}
}

.a2 {
	color: $mid;
	font-weight: 300;
	transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;	
	&:hover, &:focus {
		text-decoration: none;
		color: $red;
	}
}

.a3 {
	color: $red;
	font-weight: 300;
	transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;	
	&:hover, &:focus {
		text-decoration: none;
		color: $mid;
	}	
}

.purple {
	color: $mid;
}

.red {
	color: $red;
}

.yellow {
	color: $yellow;
}

.blue {
	color: $blue;
}

.dark {
	color: $dark;
}

.white {
	color: white;
}

hr {
	width: 3em;
	display: block;
	border: 0;
	border-top: 5px solid $red;
	margin: 4rem auto;	
}

// Navbar stuff

.navbar-default {
	background-color: $red;
}

.navbar-default	.navbar-brand {
	color: white;
	background-color: $mid;
	border-radius: 50%;	
	transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-webkit-transition: background 0.3s linear;	
	&:hover, &:focus {
		color: white;
		background-color: $green;
		border-radius: 50%;
	}	
}

.navbar {
	border: none;
	margin: 0px;
	text-align: center;

	@media (min-width: 768px) {
		border-radius: 0;
	}

	.container-fluid {
		padding: $gutter/2 $gutter;
	}

	.navbar-nav > li > a {
		font-family: "Helvetica Neue";
		font-size: 12px;
		color: white;
		transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		-moz-transition: color 0.2s linear;
		-webkit-transition: color 0.2s linear;		
		&:hover, &:focus {
			color: $mid;
		}
	}	
}

.navbar-collapse {
	border: none;
	box-shadow: none;
}

.navbar-toggle {
	background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none !important;
	}
}

footer {
	padding: $gutter;
	border-top: 1px solid white;
	background-color: $lightest-grey;

	p {
		font-size: 11px;
		display: inline;
		padding: 0;
		margin: 0;
	}

	nav {
		float: right;
		text-decoration: none;
		
		a {
			padding: 5px;
		}

	}
}


/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}